.input-group-fields div{
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    align-items: flex-start;
}

a[data-toggle="popover"]{
    cursor: pointer;
    outline: none;
}

.ss-single-selected .placeholder{
    font-weight: normal;
}

.popover{
    max-width:380px;
    overflow-wrap: break-word;
}

.glyphicon-question-sign{
    color: #ed9c28;
}

.ss-main .ss-multi-selected .ss-values .ss-value{
    font-size: 14px !important;
}

.ss-value{
    background-color: #f3f3f3 !important;
    color: #555 !important;
}

.ss-value .ss-value-text, .ss-value .ss-value-delete{
    color: #555 !important;
}

/*cnpq select*/
ul,
#cnpqUL {
    list-style-type: none;
}

#cnpqUL {
    margin: 0;
    padding: 0;
}

.caretCNPQ {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caretCNPQ::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caretCNPQ-down::before {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari */
'
transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.option-select{
    cursor: pointer;
    padding: 2px;
    border: 1px solid transparent;
}

.option-select:hover{
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ss-content .ss-search .ss-addable{
    display: inline-block !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    flex: auto !important;
    padding: 2px 5px;
    width: 120px;
    vertical-align: middle;
}

#cnpqUL li{
    margin-bottom: 5px;
}